.center-block {
  display: table;  /* Instead of display:block */
  margin-left: auto;
  margin-right: auto;
}

/* modal backdrop fix */
.modal:nth-of-type(even) {
  z-index: 1052 !important;
}
.modal-backdrop.show:nth-of-type(even) {
  z-index: 1051 !important;
}
